<h1>Books</h1>

<p>
	<strong>Name:</strong>
	<%= link_to @book.name, @book %>
</p>
<p>
	<strong>ISBN:</strong>
	<%= @book.isbn %> </td>
</p>
<p>
	<strong>Author:</strong>
	<%= @book.author	%>
</p>
<p>
	<strong>Publisher:</strong>
	<%= @book.publisher %>
</p>

<div>
  <ul class="nav nav-tabs">
    <li role="presentation"class="active"><a href="#all_loans" aria-controls="all_loans" role="tab" data-toggle="tab">All</a></li>
    <li role="presentation"><a href="#active_loans" aria-controls="active_loans" role="tab" data-toggle="tab">Active</a></li>
    <li role="presentation"><a href="#past_loans" aria-controls="past_loans" role="tab" data-toggle="tab">Inactive</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all_loans">
     <%= render '/loans/list', loans: @all_loans %>
    </div>
    <div role="tabpanel" class="tab-pane" id="active_loans">
      <%= render '/loans/list', loans: @active_loans%>
    </div>
    <div role="tabpanel" class="tab-pane" id="past_loans">
      <%= render '/loans/list', loans: @past_loans %>
    </div>
  </div>
</div>

<%= link_to "New Loan", new_loan_path(book_id: @book.id), class: "btn btn-info" %>	