
<h1>Listing Loans</h1>
<%= link_to "all", loans_path%>
<%= link_to "active", loans_path(filter: "active")%>
<%= link_to "inactive", loans_path(filter: "inactive")%>

<%= render 'list', loans: @loans %>

<br>

<%= link_to 'New Loan', new_loan_path, class: "btn btn-info" %>
