
<h1>Listing Loans</h1>
<%= link_to "all", loans_path, class:"btn btn-info"%>
<%= link_to "active", loans_path(filter: "active"), class: "btn btn-info"%>
<%= link_to "inactive", loans_path(filter: "inactive"), class: "btn btn-info"%>

<%= render 'list', loans: @loans %>

<br>

<%= link_to 'New Loan', new_loan_path, class: "btn btn-info" %>
